.cellule {
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 3%;
  transition-duration: 0.5s;
}

.cellule:hover {
  transform: scale(1.1);
}

.cellule img {
  width: 240px;
  height: 330.5px;
}
