.cellule {
  position: relative;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 3%;
  transition-duration: 0.5s;
}

.cellule:hover {
  transform: scale(1.1);
}

.cellule img {
  width: 240px;
  height: 330.5px;
}

.search-form {
  margin-left: 50%;
  width: 75%;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: lightgray;
  transform: translate(-50%, 0);
  margin-bottom: 20px;
}

.search-form:focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 48px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 95%;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 50px;
  padding: 0;
  color: white;
  cursor: pointer;
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty {
  font-size: 55px;
  color: gray;
  margin-top: 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: white;
  transform: translate(-50%, 0);
  border-radius: 10px;
}

.popup-img {
  border-radius: 10px;
}


.favorite-icon {
    position: absolute;
    bottom: 12px;
    right: 10px;
    height: 50px;
    width: 50px;
}

.favorite-icon-red {
  color: red;
}

.favorite-icon-white {
  color: grey;
}